<div class="col-md-12">

    <div class="card card-container">

        <div class="modal-header">
            <h1 class="modal-title fw-bold" id="createCourseModalLabel">Create course</h1>
            <button type="button" (click)="closeForm()" style="font-size: 12px" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <form *ngIf="!isSubmitted" name="form" #f="ngForm" novalidate>

                <div class="form-group mb-3">
                    <label for="courseTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" [(ngModel)]="course.courseTitle" name="title" required #title="ngModel">
                </div>

                <div class="form-group mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3" [(ngModel)]="course.courseDescription" name="description" required></textarea>
                </div>

                <!-- drop zone start -->
                <div class="form-group mb-3">

                    <label for="file" class="file form-label">Image</label>
                    <div class="custom-dropzone mb-2" [multiple]="false" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)" required>
                        <ngx-dropzone-label>
                            <div>
                                <img src="../../../assets/upload (1).png" alt="" style="width:100px;height: 100px;opacity: 0.5;">
                                <h4 style="font-size:16px;">Upload your image</h4>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngIf="selectedFile" [file]="selectedFile" [removable]="true" (removed)="onRemove(selectedFile)">
                            <ngx-dropzone-label class="image-name">

                            </ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                        <span class="success-icon" *ngIf="isUploaded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                        </span>
                        <div class="text-center spinner" *ngIf="clickUploadBtn">
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-sm btn-outline-dark" (click)="uploadFile()" *ngIf="selectedFile">Upload</button>
                    <button class="btn btn-sm btn-outline-dark" (click)="uploadFile()" *ngIf="!selectedFile" disabled>Upload</button>

                </div>

                <!-- drop zone end  -->

                <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn " type="button" (click)="clickCancel()" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <button class="btn add-button" type="button" (click)="f.form.valid && createCourse()" *ngIf="!f.form.valid" disabled>Create</button>
                    <button class="btn add-button" type="button" (click)="f.form.valid && createCourse()" *ngIf="f.form.valid">Create</button>
                </div>
            </form>
        </div>

    </div>
</div>